
libs/SoloPlay/Scripts/developermode.js
libs/SoloPlay/Data/**
!libs/SoloPlay/Data/deleteMe.txt
libs/SoloPlay/Functions/BlizzardError
libs/SoloPlay/Functions/*.png
libs/SoloPlay/Functions/*.jpg
libs/SoloPlay/Functions/ItemPrototypes.js
