
.soloplay/**
!.soloplay/.gitkeep
Core/BlizzardError
Core/*.png
Core/*.jpg
Modules/RuneData.js
Modules/SkillData.js
Modules/util.js
Config/*
!Config/Amazon.js
!Config/Assassin.js
!Config/Barbarian.js
!Config/Druid.js
!Config/Necromancer.js
!Config/Paladin.js
!Config/Sorceress.js
Settings/AdvancedSettings.js
Settings/Settings.js
OOG/StarterConfig.js
