
libs/SoloPlay/Scripts/developermode.js
libs/SoloPlay/.soloplay/**
!libs/SoloPlay/.soloplay/.gitkeep
libs/SoloPlay/Core/BlizzardError
libs/SoloPlay/Core/*.png
libs/SoloPlay/Core/*.jpg
libs/SoloPlay/Modules/RuneData.js
libs/SoloPlay/Modules/SkillData.js
libs/SoloPlay/Modules/util.js
